# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.swp

# Virtual environment
venv/
env/
ENV/

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
db.sqlite3

# Migrations
**/migrations/*.py
**/migrations/*.pyc
!**/migrations/__init__.py

# Static and media files
staticfiles/
media/

# Local settings
local_settings.py

# VS Code
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Django stuff:
*.log
local_settings.py
db.sqlite3

# MacOS
.DS_Store

# Logs
*.log

# Environment Variables
.env
